.search-box-wrapper {
  width: 150px;
  color: rgba(55, 53, 47, 0.4);
}

.search-box-wrapper-inner {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

input.search-input {
  font-size: inherit;
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 0px;
}

::placeholder {
  color: rgba(55, 53, 47, 0.4);
  font-weight: 500;
}

.search-icon {
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  flex-shrink: 0;
  backface-visibility: hidden;
  margin-right: 4px;
}