body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}

section {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%;
  margin: 0rem auto;
  overflow: visible;
  color: rgb(55, 53, 47);
}

::selection {
  background: rgba(45, 170, 219, 0.3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div[role=button] {
  outline: 0px solid transparent;
}

input {
  font-size: inherit;
  font-weight: 500;
  color: rgb(55, 53, 47);
  line-height: inherit;
  border: none;
  background: none;
  width: 100%;
  display: block;
  resize: none;
  padding: 0px;
  outline: 0px solid transparent;
}

.read-exchange-link,
.read-exchange-link:hover {
  display: inline;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
  color: inherit; 
}

.read-exchange-link:focus {
  outline: 2px solid rgb(46 170 220 / 40%);
}