.open-as-modal-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 20;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 0.3rem;
  border-color: rgba(55, 53, 47, 0.2);
  color: rgba(55, 53, 47, 0.6);
  padding: 0.12rem 0.5rem 0.1rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  transition: 0.04s;
  box-shadow:
    rgb(15 15 15 / 6%) 0px 1px 2px,
    rgb(15 15 15 / 6%) 0px 1px 2px;
}

.open-as-modal-button:hover,
.open-as-modal-button:focus,
.open-as-modal-button:active {
  /* -webkit-box-shadow: none;
  box-shadow: none; */
  background-color: rgb(237, 237, 236);
  border-color: rgba(55, 53, 47, 0.2);
  color: rgba(55, 53, 47, 0.6);
}