.feature-button {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
  height: 24px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.2;
  min-width: 0px;
  padding-left: 6px;
  padding-right: 6px;
  color: rgba(55, 53, 47, 0.6);
  margin-left: 4px;
}

.feature-icon {
  color: rgba(55, 53, 47, 0.4);
}

.feature-button:hover,
.feature-button:active {
  background: rgba(55, 53, 47, 0.08);
}


.feature-button-active {
  color: rgb(46, 170, 220);
}